[buildout]
find-links = https://files.pythonhosted.org/packages/61/cf/0d6598b1ceb463a46b75a716fbb23d2d5ccc5738aba8ddceeec3fa59997f/slimit-0.8.1.zip#sha256=f433dcef899f166b207b67d91d3f7344659cb33b8259818f084167244e17720b
            https://files.pythonhosted.org/packages/a3/58/35da89ee790598a0700ea49b2a66594140f44dec458c07e8e3d4979137fc/ply-3.11-py2.py3-none-any.whl
develop = .
versions = versions
parts = test
        checker
        coverage-test
        coverage-report
        py


[versions]
slimit = 0.8.1
pyflakes = 2.1.1
ply = 3.11
# python 2
Pillow = 6.2.2
# python 3
#Pillow = 11.3.0


[test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.cdn [test]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/recipe/cdn


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.recipe.cdn [test]
       future
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
       future
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')


[py]
recipe = zc.recipe.egg
eggs = p01.recipe.cdn
       future
interpreter = python

