#:schema https://json.schemastore.org/pyproject.json
# ref: <https://packaging.python.org/en/latest/specifications/pyproject-toml/>

[project]
name = "liblaf-lime"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
license = "MIT"
authors = [
  { name = "liblaf", email = "30631553+liblaf@users.noreply.github.com" },
]
keywords = []
classifiers = [
  # common classifiers
  # ref: <https://pypi.org/classifiers/>
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: OSI Approved",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Typing :: Typed",
]
dependencies = [
  "cappa>=0.30,<0.31",
  "gitpython>=3,<4",
  "jinja2>=3,<4",
  "lazy-loader>=0.4,<0.5",
  "liblaf-grapes>=1,<2",
  "litellm>=1,<2",
  "loguru>=0.7,<0.8",
  "platformdirs>=4,<5",
  "pydantic-settings>=2,<3",
  "pydantic>=2,<3",
  "python-frontmatter>=1,<2",
  "questionary>=2,<3",
  "rich>=14,<15",
]
dynamic = ["version"]

[project.urls]
"Changelog" = "https://github.com/liblaf/lime/blob/main/CHANGELOG.md"
"Documentation" = "https://liblaf.github.io/lime/"
"Homepage" = "https://github.com/liblaf/lime"
"Issue Tracker" = "https://github.com/liblaf/lime/issues"
"Release Notes" = "https://github.com/liblaf/lime/releases"
"Source Code" = "https://github.com/liblaf/lime"

[project.scripts]
lime = "liblaf.lime.cli:main"

[dependency-groups]
build = ["check-wheel-contents", "hatch", "twine"]
dev = ["icecream"]
docs = [
  "docstring-inheritance",
  "griffe-fieldz",
  "griffe-generics",
  "griffe-inherited-docstrings",
  "griffe-modernized-annotations",
  "griffe-pydantic",
  "griffe-warnings-deprecated",
  "mdx-truly-sane-lists",
  "mkdocs",
  "mkdocs-api-autonav",
  "mkdocs-autorefs",
  "mkdocs-gen-files",
  "mkdocs-git-committers-plugin-2",
  "mkdocs-git-revision-date-localized-plugin",
  "mkdocs-include-markdown-plugin",
  "mkdocs-material[imaging]",
  "mkdocs-section-index",
  "mkdocstrings",
  "mkdocstrings-python",
  "pymdown-extensions",
  "ruff",
]
test = ["pytest", "pytest-codspeed", "pytest-cov", "pytest-xdist"]

[build-system]
requires = ["hatch-vcs", "hatchling"]
build-backend = "hatchling.build"

[tool.check-wheel-contents]
ignore = ["W002"]

[tool.coverage.run]
branch = true
source = ["src/"]

[tool.hatch.build.hooks.vcs]
version-file = "src/liblaf/lime/_version.py"

[tool.hatch.build.targets.sdist]
only-include = ["src/"]

[tool.hatch.build.targets.wheel]
packages = ["src/liblaf/"]

[tool.hatch.version]
source = "vcs"

[tool.pytest.ini_options]
addopts = ["--showlocals", "--strict-config", "--strict-markers"]
testpaths = ["benches/", "tests/"]

[tool.uv]
default-groups = "all"
